* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*   GLOBAL   */
.center-container {
    background-color: rgb(236, 230, 221);
    max-width: 80%;
    margin: 0 auto;
}


.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 20% auto;
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/*  HEADER   */
header {
    display: flex;
    align-items: center;
    background-color:#Ff7414;
    max-height: 100px;
    font-size: 1.1em;
}

header img {
   height: 3em;
   width: 3em;
}

header * {
    margin: auto 10px;
}

.title {
    display: flex;
    flex-direction: column;
}


.search-blog{
    flex: 1;
    display: flex;
    position: relative;
}

header input[type="text"] {
    flex: 1;
    font-size: 0.8em;
    padding: 0 3em;
    height: 3em;
    border-radius: 5px;
    outline: none;
    border: none;
}

.abc {
    position: absolute;
    top:20%;
    left: 10px;
    color: #Ff7414;
    padding: 5px;
    margin: 0 5px;
}


.setting {
    display: flex;
    justify-items: center;
    align-items: center;
    cursor: pointer;
}

.setting * {
    margin: 0 5px;
}

/* BLOG POST */
.blog-post-container {
    min-height: 550px;
}

/* MENU BAR */

.menubar {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.menubar select {
    background-color: rgb(236, 230, 221);
    padding: 5px;
    border-radius: 5px;
}

.menubar div{
    margin-right: 1em;
} 

/* .search {
    background-color: #a3a3a3;
} */

/* Float Blogs */

.single-post {
    display: flex;
    flex-direction: column;
    margin: 5px;
}


.single-post h4, .single-post a, .single-post p {
    font-size: 0.9em;
    text-decoration: none;
}

.single-post p:hover ,.single-post a:hover {
    text-decoration: underline;
}

.blogIntro h4 a:hover {
    text-decoration: none;
}


.blogIntro {
    display: flex;
    flex-wrap: wrap;
}

/* not working*/
.blogIntro h4 {
    color: #000;
    margin-right:5px;
}

.blogIntro h4 a {
    color: #000;
    font-size: 1em;
    font-weight: normal;
    font-family: Verdana, Geneva, sans-serif;
}

.blogInfo {
    display: flex;
    align-items: center;
}

.blogInfo p, .blogInfo a , .blogIntro a, .blogIntro p {
    color: rgb(68, 68, 71);
    margin-right: 0.5em;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer button {
    cursor: pointer;
    padding: 5px 10px;
    margin: 2px 6px;
    border-radius: 3px;
    display: inline-block;
    border: 1px solid #000;
}

footer button:hover {
    background-color:aquamarine;
}

footer button:current {
    background-color: #Ff7414;
}

/* Small Screens*/

@media screen and (max-width:1200px) {
    .center-container {
        min-width: 100%;
    }
}

@media screen and (max-width:650px) {
    .title {
        display: none;
    }
}